<template name="projects">
    <section id="section2" class="full-height full-width projects-section">
        <div class="col-md-3">
            <img src="http://placehold.it/250x350">
            <img src="http://placehold.it/250x350">
            <img src="http://placehold.it/250x350">
        </div>
        <div class="col-md-3">
            <img src="http://placehold.it/250x350">
            <img src="http://placehold.it/250x350">
            <img src="http://placehold.it/250x350">
        </div>
        <div class="col-md-3">
            <img src="http://placehold.it/250x350">
            <img src="http://placehold.it/250x350">
            <img src="http://placehold.it/250x350">
        </div>
        <div class="col-md-3">
            <img src="http://placehold.it/250x350">
            <img src="http://placehold.it/250x350">
            <img src="http://placehold.it/250x350">
        </div>
    </section>
</template>