.home-carousel-inner{
  img{
    display: block;
    height: 100% !important;
    max-width: 100%;
    margin: 0 auto;
    object-fit: cover;
    width:100%;
  }
}

.carousel-control span{
  //display:none;
}

.carousel-control.left, .carousel-control:hover.left{
  opacity:.5 !important;
  background: -webkit-linear-gradient(left,rgba(255,0,0,.5),rgba(255,0,0,0)) !important; /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(255,0,0,.5),rgba(255,0,0,0)) !important; /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(255,0,0,.5),rgba(255,0,0,0)) !important; /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(0,0,0,.5), rgba(0,0,0,0)) !important; /*Standard*/
}

.carousel-control.right, .carousel-control:hover.right{
  opacity:.5 !important;
  background: -webkit-linear-gradient(left,rgba(255,0,0,0),rgba(255,0,0,.5)) !important; /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,.5)) !important; /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,.5)) !important; /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.5)) !important; /*Standard*/
}

.carousel{
  height:100%;
}