.portfolio-navbar{
  margin-bottom:0;

  a{
    font-size:11px;
    color:#ffffff;
    opacity:.7;
  }

  .active a, li:hover a, li:active a, li:focus a{
    opacity:1;
    font-weight:600;
    background-color:transparent;
  }
}

.portfolio-toggle{
  padding:4px 10px;
  opacity:.7;

  &:hover{
    opacity:1;
  }

  img{
    vertical-align:middle;
    height:20px;
    width:20px;
  }
}