<template name="home_carousel">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner home-carousel-inner" role="listbox">
            <div class="item active">
                <img src="http://placehold.it/650x450" alt="Chania">
            </div>

            <div class="item">
                <img src="http://placehold.it/650x450" alt="Chania">
            </div>

            <div class="item">
                <img src="http://placehold.it/650x450" alt="Flower">
            </div>

            <div class="item">
                <img src="http://placehold.it/650x450" alt="Flower">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="hidden glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="hidden sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="hidden glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="hidden sr-only">Next</span>
        </a>
    </div>
</template>