<template name="home">
    <section id="section1" class="full-height full-width align home-section">
        Home
        <!--<div class="col-md-12 home-title-wrapper">
            <div class="home-title">
                Teddy Meksavanh
            </div>
            <div class="home-subtitle">
                Books Diary Dev Design
            </div>
        </div>-->
    </section>

    <!-- Projects -->
    {{> projects}}

    <!-- About -->
    {{> about}}

    <!-- Contact -->
    {{> contact}}
</template>