<template name="home">
    <section id="section1" class="relative full-height full-width home-section">
        <div class="home-keyboard-wrapper">
            <div class="col-md-4 home-keyboard">
                <img class="home-keyboard-up" src="/icon/keyboard-up-white.png">
                <img class="home-keyboard-down" src="/icon/keyboard-down-white.png">
            </div>
        </div>

        <div class="home-carousel">
            {{> home_carousel}}
        </div>

        <div class="col-md-12 align home-navbar">
            {{> navbar}}
        </div>
    </section>

    <!-- Projects -->
    {{> projects}}

    <!-- About -->
    {{> about}}

    <!-- Contact -->
    {{> contact}}
</template>